@model IEnumerable<AppUser> 
@{
    ViewData["Title"] = "All Users";
}

<h1>All Users</h1>

@if (Model.Any())
{
    <a asp-controller="Account" asp-action="Register"
       class="btn btn-primary mb-3">
        Add new user
    </a>

    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                User Id : @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-danger">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No users created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user
            </h5>
            <a class="btn btn-primary" asp-controller="Account" asp-action="Register">
                Add new user
            </a>
        </div>
    </div>
}