@model WebMarket.Models.EditImagesViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> _userManager
@inject IMainRepository _repository  
@{
    ViewData["Title"] = "EditImagesView";
}

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

<h1>Edit</h1>

<div class="float-right">
    <div class="d-inline">
        <a type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Product" asp-action="OpenEditProduct"
           asp-route-prodid="@Model.ProductId">Info</a>
    </div>
    <div class="d-inline">
        <button type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Product" asp-action="EditImages"
           asp-route-prodid="@Model.ProductId" disabled>Images</button>
    </div>
    <div class="d-inline">
        <a type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Product" asp-action="EditTags"
           asp-route-prodid="@Model.ProductId">Tags</a>
    </div>
    <div style="padding-bottom:1em"></div>
</div>
<h4>Images</h4>
<hr />
@if (User.IsInRole("Admin") && _repository.GetProduct(Model.ProductId)?.OwnerID != _userManager.GetUserId(User))
{
    <div class="card text-white bg-warning mb-3">
        <div class="card-body">
            <h5 class="card-title">WARNING</h5>
            <p class="card-text">You can edit this product as you are in the Admin role. Note that you <b>DO NOT own</b> this product.</p>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-8">
        <form enctype="multipart/form-data" asp-action="EditImages" asp-route-prodid="@Model.ProductId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h5>1st Image</h5>
            <div class="form-group">
                <label asp-for="FirstImageLink" class="control-label">Link</label>
                <input asp-for="FirstImageLink" class="form-control" />
                <span asp-validation-for="FirstImageLink" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="FirstImageFile" class="col-sm-2 col-form-label">First image file:</label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="FirstImageFile" class="form-control custom-file-input">
                        <label class="custom-file-label">Choose image...</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FirstImageDescription" class="control-label">Description</label>
                <input asp-for="FirstImageDescription" class="form-control" />
                <span asp-validation-for="FirstImageDescription" class="text-danger"></span>
            </div>
            <br />
            <h5>2nd Image</h5>
            <div class="form-group">
                <label asp-for="SecondImageLink" class="control-label">Link</label>
                <input asp-for="SecondImageLink" class="form-control" />
                <span asp-validation-for="SecondImageLink" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="SecondImageFile" class="col-sm-2 col-form-label">Second image file:</label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="SecondImageFile" class="form-control custom-file-input">
                        <label class="custom-file-label">Choose image...</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SecondImageDescription" class="control-label">Description</label>
                <input asp-for="SecondImageDescription" class="form-control" />
                <span asp-validation-for="SecondImageDescription" class="text-danger"></span>
            </div>
            <br />
            <h5>3rd Image</h5>
            <div class="form-group">
                <label asp-for="ThirdImageLink" class="control-label">Link</label>
                <input asp-for="ThirdImageLink" class="form-control" />
                <span asp-validation-for="ThirdImageLink" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="ThirdImageFile" class="col-sm-2 col-form-label">Third image file:</label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="ThirdImageFile" class="form-control custom-file-input">
                        <label class="custom-file-label">Choose image...</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ThirdImageDescription" class="control-label">Description</label>
                <input asp-for="ThirdImageDescription" class="form-control" />
                <span asp-validation-for="ThirdImageDescription" class="text-danger"></span>
            </div>
            <br />
            <hr />
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h5 class="card-title">INFO</h5>
                    <p>You will be able to add more images later. Stay tuned!</p>
                </div>
            </div>
            @*<h5>4th Image</h5>
            <div class="form-group">
                <label asp-for="FourthImageLink" class="control-label">Link</label>
                <input asp-for="FourthImageLink" readonly class="form-control" />
                <span asp-validation-for="FourthImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FourthImageDescription" class="control-label">Description</label>
                <input asp-for="FourthImageDescription" readonly class="form-control" />
                <span asp-validation-for="FourthImageDescription" class="text-danger"></span>
            </div>
            <br />
            <h5>5th Image</h5>
            <div class="form-group">
                <label asp-for="FifthImageLink" class="control-label">Link</label>
                <input asp-for="FifthImageLink" readonly class="form-control" />
                <span asp-validation-for="FifthImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FifthImageDescription" class="control-label">Description</label>
                <input asp-for="FifthImageDescription" readonly class="form-control" />
                <span asp-validation-for="FifthImageDescription" class="text-danger"></span>
            </div>
            <br />
            <h5>6th Image</h5>
            <div class="form-group">
                <label asp-for="SixthImageLink" class="control-label">Link</label>
                <input asp-for="SixthImageLink" readonly class="form-control" />
                <span asp-validation-for="SixthImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SixthImageDescription" class="control-label">Description</label>
                <input asp-for="SixthImageDescription" readonly class="form-control" />
                <span asp-validation-for="SixthImageDescription" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Product" asp-action="Page">Back to product page</a>
</div>

<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    });
</script>