@model WebMarket.Models.EditImagesViewModel

@{
    ViewData["Title"] = "EditImagesView";
}

<h1>Edit</h1>

<div class="float-right">
    <div class="d-inline">
        <a type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Product" asp-action="OpenEditProduct"
           asp-route-prodid="@Model.ProductId">Info</a>
    </div>
    <div class="d-inline">
        <a type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Product" asp-action="EditImages"
           asp-route-prodid="@Model.ProductId">Images</a>
    </div>
    <div class="d-inline">
        <a type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Product" asp-action="EditTags"
           asp-route-prodid="@Model.ProductId">Tags</a>
    </div>
    <div style="padding-bottom:1em"></div>
</div>
<h4>Images</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditImages" asp-route-prodid="@Model.ProductId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstImageLink" class="control-label"></label>
                <input asp-for="FirstImageLink" class="form-control" />
                <span asp-validation-for="FirstImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstImageDescription" class="control-label"></label>
                <input asp-for="FirstImageDescription" class="form-control" />
                <span asp-validation-for="FirstImageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondImageLink" class="control-label"></label>
                <input asp-for="SecondImageLink" class="form-control" />
                <span asp-validation-for="SecondImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondImageDescription" class="control-label"></label>
                <input asp-for="SecondImageDescription" class="form-control" />
                <span asp-validation-for="SecondImageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThirdImageLink" class="control-label"></label>
                <input asp-for="ThirdImageLink" class="form-control" />
                <span asp-validation-for="ThirdImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThirdImageDescription" class="control-label"></label>
                <input asp-for="ThirdImageDescription" class="form-control" />
                <span asp-validation-for="ThirdImageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FourthImageLink" class="control-label"></label>
                <input asp-for="FourthImageLink" class="form-control" />
                <span asp-validation-for="FourthImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FourthImageDescription" class="control-label"></label>
                <input asp-for="FourthImageDescription" class="form-control" />
                <span asp-validation-for="FourthImageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FifthImageLink" class="control-label"></label>
                <input asp-for="FifthImageLink" class="form-control" />
                <span asp-validation-for="FifthImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FifthImageDescription" class="control-label"></label>
                <input asp-for="FifthImageDescription" class="form-control" />
                <span asp-validation-for="FifthImageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SixthImageLink" class="control-label"></label>
                <input asp-for="SixthImageLink" class="form-control" />
                <span asp-validation-for="SixthImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SixthImageDescription" class="control-label"></label>
                <input asp-for="SixthImageDescription" class="form-control" />
                <span asp-validation-for="SixthImageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

