
@model string
@*<form asp-controller="Catalog" asp-action="AddComment" method="post">
    <div class="form-group">
        <label for="commentSection">Your comment:</label>
        <textarea class="form-control" maxlength="255" name="commentSection" id="commentSection" rows="3" placeholder="Enter comment"></textarea>
        <input type="hidden" class="form-control" name="productID" id="productID" value=@int.Parse(Model) />
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
</form>*@
