@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> _userManager
@{
    ViewData["Title"] = "Account";
}

<h1>Account</h1>

@{
        var currentUser = _userManager.GetUserAsync(User).Result;

        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="AppUser" asp-action="Stats">Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="AppUser" asp-action="Added">Added Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="AppUser" asp-action="Bought">Bought Products</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5> Your money: @currentUser?.MoneyString</h5>
                <form asp-controller="AppUser" asp-action="AddMoney" method="post">
                    <div class="form-row align-items-center">
                        <div class="col-sm-3 my-1">
                            <label class="sr-only" for="addMoney">Add money</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="addMoney" name="addMoney" placeholder="Enter money to add">
                                <div class="input-group-append">
                                    <div class="input-group-text">€</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto my-1">
                            <button type="submit" id="submitMoney" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
                <hr />
                <a class="btn btn-primary mt-1" asp-controller="Catalog" asp-action="Catalog">Go to catalog</a>
            </div>
        </div>
}