
/* Carousel image classes */
.catalog-img {
    width: 100%;
    object-fit: cover;
    height: 320px;
    /*max-height: 320px !important;
    margin-right: auto;
    margin-left: auto;
    min-width: 200px;
    z-index: 2;*/
}

.catalog-background-img {
    z-index: 1;
}
