
/* Carousel image classes */
.catalog-img {
    width: 100%;
    object-fit: cover;
    height: 320px;
    /*max-height: 320px !important;
    margin-right: auto;
    margin-left: auto;
    min-width: 200px;
    z-index: 2;*/
    transition: box-shadow .3s ease-out;
}

.catalog-background-img {
    z-index: 1;
}

.catalog-img:hover {
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.2);
}
