
/* tag classes */
.tag {
    transition: 0.5s;
}
    .tag:hover {
        transform: scale(1.2);
    }

.tag-cross {
    transition: 0.5s;
}
    .tag-cross:hover {
        color: darkslategray;
        transform: rotate(-90deg);
    }

