<!DOCTYPE html>
<html lang="en">

@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebMarket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/logos.css" />
    <link rel="stylesheet" href="~/css/bg.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebMarket</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Catalog" asp-action="Catalog">Catalog</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown show">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    More
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Comparison" asp-action="Comparison">Compare software</a>
                                    <a class="dropdown-item" asp-controller="Product" asp-action="Add">Upload new software</a>
                                    <hr class="dropdown-divider" />
                                    <a class="dropdown-item" href="#">Else</a>
                                </div>
                            </div>
                        </li>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manage
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="Administration" asp-action="ListUsers">Users</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Administration" asp-action="ListRoles">Roles</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Administration" asp-action="ListProducts">Products</a>
                                </div>
                            </li>
                        }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container" id="body-container">
            <main role="main" class="" style="padding-bottom: 16em">
                @RenderBody()
            </main>
        </div>

        <footer class="footer bg-dark text-white text-muted" style="bottom: 0">
            <div class="container">
                &copy; 2020 - WebMarket - <a class="text-muted" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            <div class="container">
                <div class="d-inline">
                    <a class="btn btn-lg btn-dark" asp-controller="Catalog" asp-action="Catalog">Catalog</a>
                </div>
                <div class="d-inline">
                    <a class="btn btn-lg btn-dark" asp-controller="Comparison" asp-action="Comparison">Compare</a>
                </div>
                <div class="d-inline">
                    <a class="btn btn-lg btn-dark" asp-controller="Product" asp-action="Add">Upload</a>
                </div>
                <div class="d-inline">
                    <a class="btn btn-lg btn-dark" asp-controller="Home" asp-action="ChangeTheme">Change Theme</a>
                </div>
                <div class="d-inline">
                    <a class="btn btn-lg btn-dark" asp-controller="AppUser" asp-action="Account">Profile</a>
                </div>
                <hr/>
                <h5 class="text-center">Our partners</h5>
                <section id="logos">
                    <img class="sm-logo" src="~/images/unreal.png" alt="unreal-logo">
                    <img class="sm-logo" src="~/images/12-unity.png" alt="unity-logo">
                    <img class="sm-logo" src="~/images/16-naughty-dog.png" alt="naughtydog-logo">
                    <img class="sm-logo" src="~/images/5-dice.png" alt="dice-logo">
                    <img class="sm-logo" src="~/images/3-warner-brothers.png" alt="warnerbrothers-logo">
                    <img class="sm-logo" src="~/images/8-mpc.png" alt="mpc-logo">
                    <img class="sm-logo" src="~/images/9-crystal-dynamics.png" alt="crystaldynamics-logo">
                    <img class="sm-logo" src="~/images/11-bungie.png" alt="bungie-logo">
                </section>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
